*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: #aad8d3;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
footer{
    background-color: #aad8d3;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
iframe{
    max-width: 100%;
    max-height: 100%;
}